/* Custom */
html {
  scroll-behavior: smooth;
}
img {
    max-width: 100%;
}
a[class] {
  cursor: pointer;
}
a.cross-ref-sec {
  font-weight: bold;
}
ul#right-toc > li.level3 {
  margin-left: 1em;
}
.csl-entry { /* References styles */
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left: 1.5em;
  text-indent: -1.5em;
}
a[role="doc-biblioref"] {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.book-toc li .header-section-number {
  display: inline-block;
  min-width: 1.2em;
  text-align: center;
  margin-right: 0.2em;
}
main section[id] > p {
  text-align: justify;
}
/* Custom Box CSS */
.Box {
	/* background: rgb(100, 209, 171); */
	border: 2px solid;
	padding: 0.5em;
	border-radius: 0.3em;
	width: 100%;
}
.Box::before {
	content: attr(title);
	font-weight: bold;
	font-size: 1.5em;
}
.Box p {
	width: 100%;
}
.Box p:nth-child(1) {
	margin-top: 0.15em;
}
.Box p:last-child() {
	margin-bottom: 0;
}
/* Tables */
table {
  display: table;
  width: 88%;
  min-width: 380px;
  margin: 1em auto 1.8em auto;
  font-size: 0.9em;
  border-collapse: collapse;
  overflow-x: auto;
  font-variant-numeric: lining-nums tabular-nums;
}
tbody {
  margin-top: 0.5em;
  border-top: 1px solid #1a1a1a;
  border-bottom: 1px solid #1a1a1a;
}
th {
  border-top: 1px solid #1a1a1a;
  padding: 0.25em 0.5em 0.25em 0.5em;
}
td {
  padding: 0.125em 0.5em 0.25em 0.5em;
}
table caption, figcaption {
  color: rgb(98, 98, 98);
  width: 75%;
  min-width: 380px;
  text-align: center;
  margin: .8em auto 0.2em auto;
  font-size: 0.95em;
}




/* Copied from bs4_book */
.hands-on::before {
    display: block;
    content: "✍️ " attr(data-title);
    font-weight: bold;
    font-size: 1.35em;
    margin-bottom: .8em;
    color: rgb(25, 0, 255);
  }
  .hands-on {
    display: block;
    background: rgba(215, 246, 255, 0.7);
    border: 1px solid rgb(0, 195, 255);
    border-radius: 8px;
    padding: 0.5em 1em;
  }
  
  .additional-notes, .course-resource {
    padding-left: 0.35em;
    font-size:0.85em;
  }
  .additional-notes > a:hover, .course-resource > a:hover {
    color: #ff6d6d;
    text-decoration: none;
  }
  .additional-notes {
    color: #707070;
    padding-left: 0;
  }
  
  p.caption {
    text-align: center;
  }
  
  pre > code {
    padding: .125rem 0;
  }
  
  pre .copy button { 
    display: none;
  } 
  
  pre.sourceCode .copy button {
    display: inline-block;
    background-color: transparent;
    color: #1995a54b;
    border-color: transparent;
  }
  
  pre.sourceCode .copy button:hover{
    color:#fff;
    background-color:#3D818A;
    border-color:#3D818A
  }
